{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Gestion – Administration{% endblock %}

{% block main %}
    <p>Choisissez une section dans le menu à gauche.</p>
{% endblock %}
